// Media Objects

// Options
/*
$iota-objs-media                      : true;

$iota-objs-media-namespace            : 'media' !default;
$iota-objs-media-fixed-name           : 'fixed' !default;
$iota-objs-media-fluid-name           : 'fluid' !default;
$iota-objs-media-reversed-name        : 'rev' !default;
$iota-objs-media-align-middle-name    : 'middle' !default;
$iota-objs-media-align-bottom-name    : 'bottom' !default;
$iota-objs-media-responsive-name      : 'res' !default;

$iota-objs-media-gutter-default       : $iota-global-gutter-default !default;
$iota-objs-media-gutter-extra         : () !default;

$iota-objs-media-rev                  : false !default;

$iota-objs-media-aligned              : false !default;

$iota-objs-media-flex                 : $iota-global-flex !default;

$iota-objs-media-res                  : false !default;
$iota-objs-media-collapse-at          : 767px !default;
*/
@import "../../node_modules/iotacss-objs-media/objects.media";