// Float Utility

// Options
/*
$iota-utils-float             : true;

$iota-utils-float-namespace   : 'float-' !default;
$iota-utils-float-left-name   : 'left' !default;
$iota-utils-float-right-name  : 'right' !default;

$iota-utils-float-res         : false !default;
$iota-utils-float-breakpoints : $iota-global-breakpoints !default;
*/
@import "../../node_modules/iotacss-utils-float/utilities.float";