// Opacity Utilities

// Options
/*
$iota-utils-opacity           : true;

$iota-utils-opacity-namespace : 'opacity-' !default;

$iota-utils-opacity-sizes     : () !default;
*/
@import "../../node_modules/iotacss-utils-opacity/utilities.opacity";