// Core Settings

// Options
/*
$iota-base-initialize-box-sizing           : 'border-box' !default;

$iota-base-initialize-heading-size         : false !default;
$iota-base-initialize-form-elements        : false !default;
$iota-base-initialize-html5-form-elements  : false !default;
*/
@import "../../node_modules/iotacss-base-initialize/base.initialize";